.formulario{
    width: 400px;
    height: 300px;
    border: 1px solid white;
}

.formulario .row{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
}

.formulario h3{
    text-align: center;
}

.formulario .row span{
    width: 100px;
}

.formulario .row input {
    width: 300px;
}

.formulario .row button{
    height:  35px;
    flex: 1;
    background: blue;
    color: white;
    font-size: 18px;
}